<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

{% if page.url == '/' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Bassfun",
  "description": {{ site.description | strip_newlines | strip | jsonify }},
  "url": "{{ site.url }}/",
  "email": "{{ site.email }}",
  "image": "{{ site.url }}/assets/img/social-card.jpg",
  "areaServed": {
    "@type": "State",
    "name": "Brandenburg"
  },
  "address": {
    "@type": "PostalAddress",
    "addressRegion": "Brandenburg",
    "addressCountry": "DE"
  },
  "priceRange": "€€"
}
</script>
{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">

<link rel="icon" href="{{ '/assets/img/favicon.svg' | relative_url }}" type="image/svg+xml">
